.side-bar {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: -0.5em;
}
.title {
  margin: 1em;
}
.side-bar > .title {
  font-size: 2rem;

}
.footer {
  position: fixed;
  left: 1.5em;
  bottom: 1.5em;
  display: flex;
  flex-direction: column;
}
.footer a {
  color: #8f95a5;
  text-decoration: none;
  font-size: 1rem;
}

.powered {
  color: #989fac;
  font-size: 0.8rem;
}
