<div class="content">
  <div class="list">
    <h2>Pending Execution</h2>
    <div class="pending-list">
      <app-history-item *ngFor="let item of pending" [item]="item"></app-history-item>
    </div>
    <h2>Completed</h2>
    <div class="pending-list">
      <app-history-item *ngFor="let item of done" [item]="item"></app-history-item>
    </div>
  </div>
  <div class="details">
    <div style="display: flex;flex-direction: row; align-items: center;">
      <h1>Buy Details</h1>
      <fa-icon style="margin-left: auto;" [icon]="['fas','times']"></fa-icon>
    </div>
    <div class="properties">
      <div class="property">
        <span class="name">TxHash:</span>
        <span
          class="value hash">0xf2a92bc1cf798ff4de14502a9c6fda58865e8d5d1cf798ff4de14502a9c6fda58865e8d51cf798ff4de14502a9c6fda58865e8d5</span>
      </div>
      <div class="property">
        <span class="name">TxReceipt Status:</span>
        <span class="value">Pending execution</span>
      </div>
      <div class="property">
        <span class="name">Purchased from the card</span>
        <span class="value">** 3232</span>
      </div>
      <div class="property">
        <span class="name">To USDT Wallet</span>
        <span class="value">*** 98578hfms</span>
      </div>
    </div>
    <div>
      <div class="button">
        <fa-icon [icon]="['fas','exchange-alt']"></fa-icon>
        <p>Repeat</p>
      </div>
      <div class="button">
        <fa-icon [icon]="['fas','ban']"></fa-icon>
        <p>Undo</p>
      </div>
    </div>
  </div>
</div>
