.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 100%;
  height: 1.5em;
  width: 1.5em;
  padding: 0.5em;
}

.icon * {
  font-size: 1.5rem;
}

.item div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.name {
  font-size: 1rem;
  font-weight: 400;
}

.money {
  font-size: 1.2rem;
  font-weight: 600;
}

.info {
  flex-direction: column;
  justify-content: center;
}

.info * {
  margin: 0;
}
