.side-bar-menu {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.side-bar-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1em;
  align-items: center;
  color: #70769c;
  font-weight: 500;
  cursor: pointer;
  height: 2.5em;
}

.side-bar-button fa-icon{
  margin-left: 1.5em;
}

.side-bar-button.active {
  background-color: #f5ecff;
  color: #9f40ff;
  font-weight: 700;
  border-radius: 0px 20px 20px 0px;
}
