<div class="side-bar-menu">
  <div class="side-bar-button">
    <fa-icon [icon]="['fas','arrow-down']"></fa-icon>
    <p>Buy Crypto</p>
  </div>
  <div class="side-bar-button">
    <fa-icon [icon]="['fas','arrow-up']"></fa-icon>
    <p>Transfer</p>
  </div>
  <div class="side-bar-button">
    <fa-icon [icon]="['fas','exchange-alt']"></fa-icon>
    <p>Exchange</p>
  </div>
  <div class="side-bar-button active">
    <fa-icon [icon]="['fas','history']"></fa-icon>
    <p>History</p>
  </div>
</div>
